<style>
    body {
        background-color: #252526;
        color: #fff;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-container {
        background-color: #333;
        padding: 20px;
        border-radius: 4px;
        text-align: center;
    }

    .form-group {
        margin-bottom: 10px;
        text-align: left;
    }

    .form-group label {
        display: inline-block;
        width: 100px;
    }

    .form-group input {
        width: 200px;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .btn-primary {
        background-color: #4285F4;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #3367D6;
    }

    .form-title {
        color: #fff;
    }
</style>

{% if user.is_staff %}
<div class="form-container">
    <h2 class="form-title">Agregar producto</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </body>
    </html>
<div style="position: absolute; top: 0; left: 0; padding: 10px;">
    <div>
        <a href="{% url 'proveedores' %}" style="color: white;">Proveedores</a>
    </div>
    <div>
        <a href="{% url 'productos' %}" style="color: white;">Productos</a>
    </div>
    <div>
        <a href="{% url 'home' %}" style="color: white;">Inicio</a>
    </div>
{% else %}
    <p>No tienes permiso para acceder a esta página.</p>
{% endif %}